build/bin/
coverage.out
coverage.html
.idea
.opencode
.superpowers/
.worktrees/
frontend/node_modules/
frontend/dist/**
!frontend/dist/placeholder.txt
*.msshlog
*.log
build/linux/appimage/build/
*.syso
wails_windows_*.syso
.task/
build/linux/appimage/mssh
build/linux/appimage/appicon.png
bin/
